<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Jimmy Pinkard's Portfolio Website about me"/>
  <title>Jimmy Pinkard About Me</title>

  <link type="image/jpg" rel="icon" th:href="@{/images/me20.jpg}" />
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/javascript/layout/header.js}" defer></script>
  <script type="text/javascript" th:src="@{/javascript/layout/nav.js}" defer></script>
  <script type="text/javascript" th:src="@{/javascript/layout/footer.js}" defer></script>
</head>
<body>
  <header-component pageTitle="About me"></header-component>
  <navbar-component></navbar-component>
  <main class="main-content">
    <img src="images/me20.jpg" height="600px" width="900px" alt="Me"/>
    <p>
      Hello, my name is Jimmy Pinkard, and I am a Computer Science Major. I like to program, theorize, study, play video games. I was born in San Diego,
      California and moved to South Carolina at the age of 7. After college I plan to have my own ethical hacking firm or working as a government
      sponsored hacker.
    </p>
  </main>
  <footer-component></footer-component>
</body>
</html>