<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Jimmy Pinkard's Portfolio Website contact page"/>
  <title>Jimmy Pinkard Contact Me</title>

  <link type="image/jpg" rel="icon" th:href="@{/images/Headshot.jpg}" />
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/javascript/layout/header.js}" defer></script>
  <script type="text/javascript" th:src="@{/javascript/layout/nav.js}" defer></script>
  <script type="text/javascript" th:src="@{/javascript/layout/footer.js}" defer></script>
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <header-component pageTitle="Contact"></header-component>
  <navbar-component></navbar-component>
  <main class="main-content">
    <h1>Under construction</h1>
  </main>
  <!--
  <main class="main-content">
    <p>
      You can send me an email at my email address, or you can use this form.
    </p>
  </main>
  <div id="email-send">
    <form id="send-email" onSubmit=sendEmail>
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="John Doe"/>
      <br/>
      <label for="email">Your email</label>
      <input id="email" name="email" type="email" placeholder="john.doe@mail.com"/>
      <br/>
      <label for="message">Message</label>
      <br/>
      <textarea id="message" name="message" placeholder="Your Message" rows="20" cols="50"></textarea>
      <br/>
      <label for="submit"></label>
      <input id="submit" name="submit" type="submit"/>
    </form>
  </div>
  -->
  <footer-component></footer-component>
</body>
</html>